<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/images/unpluged.jpg" alt="image of unpluged" />
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <a routerLink="/home" class="btn btn-outline-secondary" style="color: rgb(194, 142, 194); font-weight: bolder; "
            > Home </a
          ><a routerLink="/contactUs" class="btn btn-outline-secondary" style="color: rgb(194, 142, 194); font-weight: bolder;"
            > Contact us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
