<app-navigation> </app-navigation>
<img
  src="assets/images/aboutus.jpg"
  alt="GroupofTravelers"
  style="width: 100%"
/>
<div class="container" style="margin-top: 40px">
  <h2 class="lh-base text-center"style="margin: 20px;">
    About
    <div
      class="d-inline"
      style="
        font-family: cursive, 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
          Verdana, sans-serif;
      "
    >
      Wanderlusts
    </div>
  </h2>
  <h4 class="lh-base text-center"style="margin-top: 40px; margin: 30px; color:rgb(219, 151, 112);">Welcome to our vibrant travel community!</h4>
  <p class="lh-base text-center" style="margin: 40px">
    We are passionate about exploring the world and creating unforgettable travel experiences. For us, traveling
    is more than just a journey; it's a profound connection with different
    cultures, landscapes, and the essence of life itself. Each adventure is a
    canvas painted with diverse stories, unique flavors, and the warmth of new
    friendships. The joy of discovering hidden gems and embracing the unfamiliar
    makes me feel truly alive. Our travel platform is a reflection of this
    passion, inviting you to embark on journeys that go beyond the ordinary.
    Join us in celebrating the spirit of wanderlust, and let's weave stories
    together in the tapestry of travel. 🌎
  </p>
  <p class="lh-base text-center" style="margin: 40px">
    Embarking on a journey filled with wanderlust, we, as a couple from the
    enchanting landscapes of Greece and currently residing in the heart of
    Switzerland, share an insatiable desire to explore the world. Our active
    lifestyle, brimming with hobbies like escape rooms, dancing, and
    snowboarding, reflects our commitment to a life that feels like an eternal
    vacation. Beyond the thrill of our personal adventures, we find immense joy
    in inviting others to travel with us virtually through our site. We aspire
    to create a space where fellow explorers can join us in discovering new
    destinations, uncovering hidden gems, and relishing the excitement of a life
    well-lived. Together, we hope to inspire a community of like-minded
    individuals to embrace the beauty of constant exploration and find happiness
    in the journey itself. Welcome to our world, where every click is a step
    towards shared adventures and everlasting joy! ✈︎
  </p>
</div>
<app-footer></app-footer>
