<app-navigation> </app-navigation>

<h1 class="text-center" style="margin-top: 100px">
  4 Days in Dubrovnik, Croatia: Ultimate 4-Day Itinerary
</h1>

<img
  src="assets/images/dubrovnik1.jpg"
  class="rounded float-start"
  style="width: 25%; margin: 70px"
  alt="..."
/>
<div class="container m-10 text-end">
  <p style="margin-top: 60px">
    The beautiful and historic seaside town of Dubrovnik, Croatia, is both
    charming and compelling, standing as a medieval fortress town on the edge of
    the Adriatic Sea. There’s so much to see and do, you can easily spend a
    magical 4 days in Dubrovnik. I guarantee – even if you’ve been all over
    Europe – you’ve never seen anything quite like Dubrovnik. It’s one of the
    world’s most magnificent walled cities, overlooking the calm blue sea.
    Expect stunning views at every turn. This itinerary can be done as a short
    vacation or combined with other cities in Croatia. I would suggest spending
    at least a week checking out all that Croatia has to offer — a few days in
    Zagreb, a day or two in Pula, three or four days in Dubrovnik and a couple
    days in Split. If you have even more time, spending an entire week in
    Dubrovnik isn’t too much if you’re willing to slow down and enjoy some lazy
    days by the sea and take a few day trips around the area.
  </p>

  <div class="container mt-3">
    <h3 style="margin-top: 60px">How to get around in Dubrovnik</h3>
    <p>
      Your feet will take you to many spots that tourists want to see in the
      city. For further afield, booking a tour or working out public
      transportation is best. The bus system is good. It’s easy to catch a taxi
      from the airport, or save a few Kunas by taking the bus that awaits every
      flight and will drop you off just outside the old city. Numerous buses go
      from just outside the Pile Gate to the airport, and many other spots in
      the city, so it’s a convenient way to get around without a car.
    </p>
  </div>

  <h3 style="margin-top: 60px">Where to stay in Dubrovnik</h3>
  <p>
    There are hotels inside the old city that are a good option, but to take
    full advantage of the amazing view, choose a hotel along the waterfront just
    outside the gates. The Hilton Imperial is a good choice, as well as Hotel
    Bellevue and Rixos Libertas (the latter two being a slightly longer walk to
    the old city, but with great views of the castle and city walls).
  </p>
</div>
<img
  src="assets/images/dubrovnik2.jpg"
  class="rounded float-end"
  style="width: 25%; margin: 70px"
  alt="..."
/>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 1. Explore Old Town Dubrovnik</h3>
  <p>
    There’s lots of exploring to do and no better place to start than the old
    city. Enter at the Pile Gate. You can easily spend the entire day walking
    around the old city — the main street and all the side streets that shoot
    out from there, and walking the perimeter of the city on the wall, which is
    an absolute must do. To stroll the old city wall, plan ahead and book
    tickets in advance to avoid the rush, as it can get really packed up there.
    Crowds will be smaller early in the morning before cruise passengers arrive
    or later in the afternoon after the ships have left port. Plan to spend 1-2
    hours, depending on how much meandering and picture taking you want to do.
    There are cafes along the wall where you can stop for a drink too, if you’re
    so inclined. You can stroll down the Stradun and walk the wall on your own,
    but it’s much more meaningful if you know what you’re looking at. Which is
    why we like this informative and fun walking tour where you’ll learn about
    the architecture and the history behind the palaces, fountains, monasteries
    and churches.
  </p>
</div>

<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 2. Head to the Beach / Water Sports</h3>
  <p>
    The beach awaits, so pack your beach bag, swimming suit and sunscreen and
    head out to one of the spectacular beaches in Dubrovnik. Banje Beach is the
    closest, within the city limits and easily walkable from the old city. This
    isn’t a “sandy” beach, so make sure you bring water shoes to protect your
    feet against the rocks. There are chairs with umbrellas you can rent. The
    water is crystal clear and perfect for a swim. When you’re hungry, head to
    the beach club for some lunch or a cold drink. Copacabana is one of
    Dubrovnik’s best beaches. It’s a half-moon of pebbles and gravel in Seka
    Bay, perfect for swimming and sunbathing. It may be somewhat crowded but
    there’s a long stretch of beach to enjoy with loungers and deckchairs, plus
    you can get in on some water sports while you’re there. There’s also Danče
    beach, the oldest beach in Dubrovnik. It’s just 5 minutes west of town and
    has large rocks and jetties to sunbathe on and ladders to get into and out
    of the water. The water is also deep enough to jump off of for fun. When
    you’re done with the sun worshiping, there’s plenty of time for water sports
    and activities, like a sea kayaking adventure or a half-day Blue Cave and
    snorkeling tour. Blue Cave is located on the south side of the island of
    Koločep and is exactly as it sounds, with brilliant blue water.
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 3. Go On a Day Trip</h3>
  <p>
    There are lots of excursions outside the city to enjoy. Choose the one that
    fits your interests. <br />
    Option 1: My favorite is a day trip to Mostar in Bosnia and Herzegovina. The
    tour I recommend for this is the all-day Mostar and Kravice Waterfalls Tour
    because it also stops at the Kravice falls. These are two major highlights
    of the Balkans region. <br />Option 2: Drive to the Peljesac Peninsula for
    wine tasting This is another of our favorite options for a day out around
    Dubrovnik, because we love visiting the local wineries. The peninsula has
    many that you can visit for tastings, tours, and lunch. We recommend driving
    out to the end of the peninsula and working your way back, stopping at Korta
    Katarina (great place for lunch!), Saints Hills, and Winery Marlais. Also
    make a stop on the way back at Dubrovnik Beer Company. <br />Option 3:
    Kolocep Island Hiking and Swimming Full Day Trip Escape the hustle and
    bustle of the mainland on a full day trip to Kolocep Island. Hike through
    the island’s rural terrain, admiring its cliffs, hills, and flora, and be
    led by your professional guide to secluded spots ideal for swimming and
    cliff diving
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 4. Explore the Islands</h3>
  <p>
    The last day is reserved for a day trip to the surrounding islands. A great
    spot that’s easy to reach is the Elafiti archipelago. There are regular
    ferry crossings from the Dubrovnik main ferry terminal to three main islands
    of this archipelago — Šipan, Lopud and Kolocep. You can see all of these
    islands on this day-long island cruise. Šipan is the largest of the Elafiti
    islands. Check out the shopping, take a hike up the hill behind the town
    center, swim in the crystal clear water, then eat some of the freshest fish
    — right off the boat — at one of the seafood restaurants along the
    waterfront. If you want to see another island, take the ferry from Sipan to
    Lopud. There’s a lovely harbor area and a sandy beach across the island —
    Sunj Beach — where you can go for a dip or hang out in the sun. While it’s
    easy to get around to the islands via ferry and do this day trip at your own
    pace, there are also plenty of tour companies that will take you around to
    all three islands on a schedule where you’ll have a couple hours in each
    location.
  </p>
</div>

<app-footer></app-footer>
