<app-navigation> </app-navigation>

<h1 class="text-center" style="margin-top: 100px">
  The Perfect 7-Day Japan Itinerary
</h1>

<img
  src="assets/images/japan2.jpg"
  class="rounded float-start"
  style="width: 25%; margin: 70px"
  alt="..."
/>
<div class="container m-10 text-end">
  <p style="margin-top: 60px">
    Planning a vacation to Japan? You’ve come to the right spot! Japan is an
    amazing country, full of beautiful nature views, historic temples, and the
    excitement of big city life. It truly has it all! It can be overwhelming to
    plan your Japan itinerary, but hopefully with my tips it will make the
    planning process much easier! Keep reading to check out my Japan itinerary
    for 7 days well-spent in this unique country.
  </p>
  <div class="container mt-3">
    <h3 style="margin-top: 60px">How to get around in Japan</h3>
    <p>
      It’s fairly easy to get around the country of Japan due to their
      well-connected (and fast!) train system. My biggest piece of advice is to
      get the 7-day Japan Rail Pass (there is also a 14 and 21 day option if you
      want to extend your trip). With the Japan Rail Pass (JR Pass), you get
      unlimited access to all of the trains on the JR Line (including the
      Shinkansen Bullet Trains). It costs about $220 for the 7-day pass for
      adults. I did the math before my trip, and even though we only took 2
      bullet trains (plus smaller trains and the monorail) during our 7 days in
      Japan, paying the $220 saved us money (buying single tickets for the
      trains in Japan is expensive!). Also, it makes the whole transportation
      process in Japan SO much simpler and smoother by having the JR Pass. You
      don’t have to waste time going to the ticket counter every time you go to
      the station. There are two ticket options: “Ordinary” and “Green Car”
      (first class). It might be tempting to go for the first class ticket since
      it’s only about $70 more than the “Ordinary” car, but I recommend sticking
      with Ordinary. For the Green Car, you have to reserve your specific seat
      at the counter before you board the train, which adds extra time and
      logistics. With the Ordinary pass, you can just walk right on and sit
      wherever you’d like in that car. It’s important to note that you have to
      buy the JR Pass BEFORE (at least 14 days before, to be exact) your trip to
      Japan. You can buy it here. Once you purchase it online, a voucher gets
      mailed to your house. You then bring that voucher with you to Japan and
      can exchange it at the airport for the JR Pass once you land.
    </p>
  </div>

  <h3 style="margin-top: 60px">Best time to visit Japan</h3>
  <p>
    Japan is really a year-round destination, however I would advise to not go
    in the middle of summer (June-August) as it can be super hot and crowded.
    The best time to go to Japan would be in the Spring and Fall (March-May and
    September-October), when the temperatures are mild. The peak season is
    during Cherry Blossom season in mid-March, which is beautiful but also means
    prices will be higher! If you want to go skiing/snowboarding while you are
    there (Japan is known to have some of the best powder in the world!) then I
    recommend going in January or February.
  </p>
</div>
<img
  src="assets/images/japan1.jpg"
  class="rounded float-end"
  style="width: 25%; margin: 70px"
  alt="..."
/>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 1-2. Tokyo</h3>
  <p>
    Kick off your time in Japan by spending 2 days in the biggest city in the
    world – Tokyo! Given that you will be flying into Tokyo (either HND or NRT)
    it makes sense to either start or end your trip here. Being in a city as big
    as Tokyo can be overwhelming. If you only have 2 days here, don’t stress
    about seeing & doing EVERYTHING, but rather pick a few highlights and then
    spend some time wandering around and getting a feel for the city.<br />
    Best Things to Do in Tokyo in 2 Days: <br />
    1. Shibuya Crossing<br />
    2. Shibuya Sky Observation Deck <br />3. Visit a Themed Cafe <br />4. Wander
    Around Harajuku<br />5. Go to a Tokyo Listening Bar<br />6. Go to the Bars
    in Golden Gai<br />7. Imperial Palace <br />8. Watch Sumo Wrestling
  </p>
</div>

<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 3-4. Hakone</h3>
  <p>
    Hakone, a mountain town known for their natural hot springs and views of Mt
    Fuji, is a drastic change from the hustle and bustle of Tokyo. Visiting
    Hakone was one of my favorite parts of this 7-Day Japan itinerary (which
    should come as no surprise, since I love nature!) Many people visit Hakone
    as a day-trip from Tokyo, but I highly recommend spending 1 or 2 nights
    there. Hakone is an absolutely beautiful, serene area of Japan. There are so
    many awesome things to do in Hakone during your stay there! I would
    definitely spend a lot of time relaxing in your Ryokan and getting that
    authentic Japanese spa-like experience. Once you’ve had your fill of that,
    it’s time to explore! The simple map below can help you get a visual on the
    different areas that make up the Hakone region, all conveniently-connected
    by different transportation options all covered by the Hakone Freepass.
    <br />
    1. Check out the Hakone Shrine <br />
    2. Pirate Ship Boat Cruise Across Lake Ashi <br />3. Owakudani<br />Ride the
    Ropeway<br />4. Hakone Open-Air Museum<br />5. Wander Around Town
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 5-7. Kyoto</h3>
  <p>
    Kyoto, the old capital of Japan, is simply amazing. This city is filled with
    traditional Japanese architecture – temples, shrines and imperial palaces
    basically everywhere you turn! There are plenty of great things to do in
    Kyoto during the last 3 days of your 7-day Japan itinerary. You can probably
    technically do all the things I mention within 2 days, but on your last day
    in Japan you will need to account for time getting back to Tokyo and getting
    to the airport! <br />1. Walk around the Gion District<br />2. Attend a
    Matcha Tea Ceremony<br />3. Fushimi Inari Shrine <br />4. The Golden
    Pavilion (Kinkaku-ji)<br />5. Yasaka Shrine<br />6. Ryozen Kannon <br />7.
    Nishiki Market
  </p>
</div>

<app-footer></app-footer>
