<app-navigation> </app-navigation>

<h1 class="text-center" style="margin-top: 100px">
  How to spend 4 days in Cappadocia, Turkey: Travel Itinerary
</h1>

<img
  src="assets/images/cappadocia.airballoons.jpg"
  class="rounded float-start"
  style="width: 25%; margin: 70px"
/>
<div class="container m-10 text-end">
  <p style="margin-top: 60px">
    Cappadocia is most well known for its incredible sunrise hot air balloon
    rides, but it also offers incredible desert-scapes, underground cities to
    explore, and incredible buildings built into rocks and caves. We spent the
    last bit of our honeymoon here, so I’ve wrapped up everything you need to
    know for how to spend 4 days in Cappadocia, Turkey
  </p>
  <div class="container mt-3">
    <h3 style="margin-top: 60px">Getting to Cappadocia</h3>
    <p>
      When planning your trip to Cappadocia, your odds of flying through
      Istanbul are incredibly high. We, in fact, started our trip with a few
      days in Istanbul before heading out to Cappadocia. Depending on where
      you’re coming from, the city is also well connected by bus and train.
      Cappadocia has 2 main airports: Nevsehir Kapadokya Airport (NAV) and
      Kayseri Erkilet Airport (ASR). NAV is the closer of the 2 to Göreme (~40
      min drive), while Kayseri Erkilet Airport (ASR) is closer to ~1-hour
      drive. We flew into NAV and left out of ASR because there was a pretty big
      price difference, but either one is a decent option.
    </p>
  </div>
  <h3 style="margin-top: 60px">Where to stay in Cappadocia</h3>
  <p>
    The top 2 towns to stay in the Cappadocia region are Göreme and Uçhisar.
    Göreme is more expensive (and more popular) as it is home to various shops,
    restaurants, hotels, and nightlife. We stayed at the Kelebek Special Cave
    Hotel, which was about a 5-minute walk into town. I can’t recommend it
    enough for various reasons. First, Kelebek is part of a hotel group. You may
    be familiar with the famous Sultan Cave Suites Hotel rooftop for sunrise
    photos, which allows you to enjoy the amenities at the other hotels in their
    restaurant group. Second, the breakfasts and customer service here were
    10/10. There was a major spread every morning, which included fresh omelets
    and coffee drinks made to order. If you know me, the coffee part alone made
    all the difference. Finally, included in your stay is a farm-to-table
    breakfast experience located on their farm. It was so magical and definitely
    the highlight of our stay!
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 1: Hot Air Balloon Ride + The Red Tour</h3>
  <p>
    If you take anything away from this blog post, let it be this: start day 1
    with a hot air balloon ride, as rides can get canceled due to poor weather
    conditions like wind. You’ll want the flexibility to be able to reschedule
    the ride for another day during your visit. Most people spend 2-3 days in
    Cappadocia, and I’ve heard horror stories of people leaving after 3 days,
    unable to do the hot air balloon ride at all due to weather. We booked on
    Airbnb Experiences. Prices range vastly depending on the season, how big
    your basket is, and more. Overall this experience is on the pricier end, but
    so worth it. We felt like we hit the jackpot with this Airbnb Experience
    find. This deal only cost us 150 euros per person, while others were going
    for 250+ per person. My advice would be to shop around before committing to
    find the best deal. Finally, try to get a spot on the outer edge of the
    basket. We were near the balloon operator, and while the views were still
    amazing, we didn’t get the best photos of each other up there, which was a
    bummer.
  </p>
</div>
<img
  src="assets/images/goreme.jpg"
  class="rounded float-end"
  style="width: 25%; margin: 70px"
/>

<div class="container mt-3">
  <h3 style="margin-top: 60px">
    Day 2: Farm to Table Breakfast, Spa Day + Open Aire Museum
  </h3>
  <p>
    After a hectic day 1, we planned for a more relaxing 2nd day in Cappadocia.
    When we checked in to our hotel, we were surprised to discover a free
    farm-to-table meal and mini hike included in our stay. An open-air tractor
    took us to the hotel family’s farm. We hiked down to the property and
    enjoyed a freshly made Turkish breakfast in their gardens with the farm
    animals roaming about. Once we learned of this experience, we knew we had to
    check it out. After our meal, we headed back to the hotel for our planned
    spa day. A Turkish bath is a must-do activity on your trip to Turkey. We
    loved it so much in Istanbul we booked another one in Cappadocia at our
    hotel. A Turkish bath consists of various types of massages and the
    traditional peeling and scrub massage. We spent the afternoon at the hotel
    and enjoyed the pool before heading to the Göreme Open Aire Museum. We chose
    to walk as it was about a 20 min walk from our hotel. The Göreme Open Aire
    Museum is one of the first two UNESCO sites in Turkey. The museum features
    churches, chapels, and monasteries carved out of soft volcanic rock. In the
    summer, I suggest visiting early in the morning or later in the day to beat
    the heat and crowds.
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">
    Day 3: Watch the Sunrise at the Hotel & Rent a car for a Self-Guided Green
    Tour
  </h3>
  <p>
    Start your day around 4:30 am. We woke up to catch the sunrise on our
    hotel’s rooftop and watch all the hot air balloons. Note: The time can
    change depending on the season so ask your front desk to confirm. As
    mentioned, we originally had booked both the Red AND Green tour since we
    booked a longer stay in Cappadocia than most tourists. However, after
    revisiting the stops, we determined that it didn’t make sense to spend an
    entire day on another tour with many repeated spots. We brainstormed about
    hiring a cab for the day or renting a car, and after some research, we
    determined that the car rental was the best deal. Having our own car allowed
    us to move around so easily! Note: If you don’t feel confident about renting
    a car, we did notice while walking around town that there were customized
    private tours available.
  </p>
</div>
<div class="container mt-3">
  <h3 style="margin-top: 60px">Day 4: Exploring Göreme & Sunset Camel Ride</h3>
  <p>
    We kept our final day open for exploring the town, shopping, and a sunset
    camel ride. We knew we wanted to check out some antique shops, ceramics, and
    a classic carpet shop, so we kept the schedule pretty relaxed! We visited
    the carpet shop, Galerie Ikman, a handmade rug store. We got incredible
    photos here, but beware many carpet store owners charge for content because
    they know their stores are very aesthetic. Galerie Ikman does charge and
    prices vary based on if you rent an outfit, want drone footage, have a
    photographer, etc. Finally, we ended day 4 in Cappadocia with a sunset camel
    ride, which was a unique way to enjoy the Rose Valley.
  </p>
</div>
<app-footer style="position: fixed; bottom: 0; width: 100%"></app-footer>
