<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a routerLink="/main" class="d-flex align-items-center">
      <img
        src="assets/images/logoWanderlusts.png"
        alt="WanderlustsLogo"
        class="img-fluid rounded-lg"
        style="max-height: 90px; max-width: 150px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      style="
        background-color: rgb(175, 202, 197);
        opacity: 80%;
        border-radius: 10px;
        padding: 20px;
      "
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactUs" routerLinkActive="active"
            >Contact us</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Destination
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/cappadocia"
                routerLinkActive="active"
                >Cappadocia</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/zanzibar"
                routerLinkActive="active"
                >Zanzibar</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/mauritius"
                routerLinkActive="active"
                >Mauritius</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/tenerife"
                routerLinkActive="active"
                >Tenerife</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/dubrovnik"
                routerLinkActive="active"
                >Dubrovnik</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/japan"
                routerLinkActive="active"
                >Japan</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="searchDestinations()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchQuery"
          name="searchQuery"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
