<app-navigation> </app-navigation>
<div class="container">
  <img
    src="assets/images/WorldMap.jpg"
    alt="Snow"
    style="width: 100%; height: max-content"
  />

  <div class="bottom-left">
    <b>LET'S EXPLORE THE WORLD</b><br />
    <h6>Ready for new adventures?</h6>
  </div>
</div>

<section>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="data-container">
        <a routerLink="/cappadocia" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Cappadocia</h4>
                <img
                  src="assets/images/1.jpg"
                  class="img-fluid"
                  alt="AirBalloons"
                />
                <p class="card-text">
                  A very special and beloved trip that combines in a unique way
                  the breathtaking rocky landscape, the various activities and
                  the special flavors of the traditional dishes. A trip that
                  definitely deserves to be on the list of places you must
                  visit!
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="data-container">
        <a routerLink="/zanzibar" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Zanzibar</h4>
                <img
                  src="assets/images/2.jpg"
                  class="img-fluid"
                  alt="Sandybeach&Palmtrees"
                />
                <p class="card-text">
                  A destination that will never fade from our memory. Exotic
                  sandy beaches with a colorful seabeds, happy friendly local
                  people and delicious refreshing fruit-smoothies are just a few
                  out of the many things we will always recall...
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="data-container">
        <a routerLink="/mauritius" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Mauritius</h4>
                <img
                  src="assets/images/3.jpg"
                  class="img-fluid"
                  alt="Underwater Warerfalls"
                />
                <p class="card-text">
                  Every time we hear the word "Mauritius" amazing beaches,
                  swimming with sea creatures, hiking at high altitudes with
                  dazzling views, beautiful temples and delicious food come to
                  our mind! What else do you need to be convinced?
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="data-container">
        <a routerLink="/tenerife" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Tenerife</h4>
                <img
                  src="assets/images/5.jpg"
                  class="img-fluid"
                  alt="Blackbeach"
                />
                <p class="card-text">
                  A surprisingly wonderful trip where in just a few days you can
                  see so many different landscapes. Black beaches, volcanos and
                  deserts that look like the Wild West, mountains for climbing
                  and delicious Spanish food are few from many things you can
                  meet there!
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="data-container">
        <a routerLink="/dubrovnik" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Dubrovnik</h4>
                <img
                  src="assets/images/6.jpg"
                  class="img-fluid"
                  alt="Dubrovnik"
                />
                <p class="card-text">
                  If you want to travel back in time and live for a while inside
                  a castle with so many beautiful cobblestones, admiring the
                  historical landscape around you, feeling like you're living in
                  another era and of course if you are a fan of "Game of
                  Thrones" you should not miss this trip!
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="data-container">
        <a routerLink="/japan" routerLinkActive="active">
          <span class="btn">
            <div class="card $card-height:100%">
              <div class="card-body">
                <h4 class="card-title">Japan</h4>
                <img
                  src="assets/images/6.avif"
                  class="img-fluid"
                  alt="ShinjukuLights"
                />
                <p class="card-text">
                  Definitely a dream trip. Unique landscapes that combine
                  evolution with tradition. A whole different world, that
                  surprised us every moment with its amazing details. Japanese
                  temples, shrines, wonderful nature, huge dazzling buildings;
                  Images that will stay forever in your mind!
                </p>

                <button class="btn btn-outline-secondary">Read More...</button>
              </div>
            </div>
          </span>
        </a>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
